body {
    font-family: 'Inria Sans', 'Asap', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.checkout-container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 10px;
}

.payment-method label {
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
}

.payment-details {
    margin-top: 20px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group span {
    background-color: #e9ecef;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.input-group input[type="text"] {
    border-radius: 0 5px 5px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 48%;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 16px;
}

button.checkout-btn {
    width: 100%;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.checkout-btn:hover {
    background-color: red;
}