<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>contactus</display-name>
    <servlet-name>contactus</servlet-name>
    <servlet-class>com.system.contactus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactus</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <display-name>System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductsServlet</display-name>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>com.system.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/ProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsInsert</display-name>
    <servlet-name>ContactUsInsert</servlet-name>
    <servlet-class>com.system.ContactUsInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsInsert</servlet-name>
    <url-pattern>/ContactUsInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.system.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsServlet</display-name>
    <servlet-name>ContactUsServlet</servlet-name>
    <servlet-class>com.system.ContactUsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsServlet</servlet-name>
    <url-pattern>/ContactUsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.system.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoffServlet</display-name>
    <servlet-name>LogoffServlet</servlet-name>
    <servlet-class>com.system.LogoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffServlet</servlet-name>
    <url-pattern>/LogoffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>com.system.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServlet</display-name>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <servlet-class>com.system.DeleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServlet</servlet-name>
    <url-pattern>/DeleteCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServlet</display-name>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <servlet-class>com.system.UpdateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServlet</servlet-name>
    <url-pattern>/UpdateAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductPageServlet</display-name>
    <servlet-name>ProductPageServlet</servlet-name>
    <servlet-class>com.system.ProductPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductPageServlet</servlet-name>
    <url-pattern>/ProductPageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.system.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>createAccountServlet</display-name>
    <servlet-name>createAccountServlet</servlet-name>
    <servlet-class>com.system.createAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createAccountServlet</servlet-name>
    <url-pattern>/createAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckoutServlet</display-name>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>com.system.CheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/CheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllServlet</display-name>
    <servlet-name>GetAllServlet</servlet-name>
    <servlet-class>com.system.GetAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllServlet</servlet-name>
    <url-pattern>/GetAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCheckoutServlet</display-name>
    <servlet-name>DeleteCheckoutServlet</servlet-name>
    <servlet-class>com.system.DeleteCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCheckoutServlet</servlet-name>
    <url-pattern>/DeleteCheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCheckoutServlet</display-name>
    <servlet-name>UpdateCheckoutServlet</servlet-name>
    <servlet-class>com.system.UpdateCheckoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCheckoutServlet</servlet-name>
    <url-pattern>/UpdateCheckoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestpServlet</display-name>
    <servlet-name>RequestpServlet</servlet-name>
    <servlet-class>com.system.RequestpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestpServlet</servlet-name>
    <url-pattern>/RequestpServlet</url-pattern>
  </servlet-mapping>
</web-app>